body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 400px;
    margin: auto;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    margin: 10px;
    cursor: pointer;
}

